html,
body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

#map {
  width: 800px; /* Adjust width to your desired size */
  height: 800px; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%; 
    pointer-events: none;
}

#map circle {
    pointer-events: auto;
}

.slider {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

#map circle,
.legend > div {
  --color-departures: #377eb8;
  --color-arrivals: #4daf4a;
  --color: color-mix(in oklab, var(--color-departures) calc(var(--departure-ratio) * 100%), var(--color-arrivals));
}

.legend {
  display: grid;
  grid-template: subgrid;
  margin-block: 1rem;
  gap: 1px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.legend > div {
  flex: 1;
  grid-row: 1;
  background: var(--color);
  color: white;
  padding: 0.5em 1.5em;
  text-align: center;
  font-weight: bold;
}